.sidebar a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 2vmax;
    font: 300 1.5rem "Roboto";
    color: #5D001E;
    transition: all .5s;
}

.sidebar a:hover{
    
    color: black;
    transform: scale(1.1);

}