.react-calendar {
  width:auto;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}


.serviceDetails{

   margin: auto;
   width: 100%; 
   box-sizing: border-box;
   box-shadow: 2px 2px 5px black;   
  
}

.serve{
    border: 1px solid #510;  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.serve .CarouselImage{
    width: 20.5vw;
}


/*button {
   
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 300 1.5vmax "Roboto";

}*/

.information{
  
    color: darkred;
   
    
}

.information > div{
    padding: 1vmax;
    font:200 1vmax "Roboto";

    
}

 .button1 { 
    padding: 1vmax;
    cursor: pointer;
    color: #5D001E;
    transition: all 0.5s;
    font: 500 1.5vmax "Roboto";
    border: none;
  } 


   .button1:hover{
       
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        background-color: green;
        color: beige;
      
}



.reviewCard{
   flex: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2vmax;
   padding: 2vmax;
   width: 30vmax;
   border: 1px solid black;
   background-color: aliceblue;
   box-shadow:5px 5px 10px black;
   color: green;
  

}
.reviewCard > svg{
    font-size: 5rem;
}

.reviews{
    display: flex;
    overflow: auto;
}

.noReviews{
    text-align: center;
    font-size: 2rem;
    color: #5D001E;
}


.my-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.my-input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.my-input::placeholder {
  color: #999;
}



@media screen and (max-width:600px) {
    .serve .CarouselImage{
        width: 37vmax;
    }


    .information{
  
        color: darkred;
       
        
    }
    
    .information > div{
        padding: 1vmax;
        font:200 1.5vmax "Roboto";
    
        
    }
    
    
}