


  .banner{

   background-image: url('https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
    color: white;
  }
  


  



.head{
 
  padding: 0;
  margin: 0;
  text-align: center;
  

}

.line2{

  
  border: .5px solid #5D001E;
}

.Featers .card{
    
    color:#5D001E;
    width: 14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 2vmax;
    transition: all .5s;
    padding-bottom:.5vmax;
 }

.Featers .card >img{
  width: 14vmax;
 } 

 .card {
   margin:  auto;
   
 }

 .Featers .card > div > span{
  margin: .5vmax;
  font: 300 1vmax "Roboto";
} 


 .Featers .card p{
  margin: .3vmax;
  font: 300 1.5vmax "Roboto";
  
 }


.Featers .card > span{
  padding: .5vmax .5vmax;
} 






.Featers .card:hover{
  box-shadow: 0 0 5px black;
  transform: translateY(-1vmax);
}

.Featers .container2{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
 
}

@media(max-width: 600px){
  .Featers .card >div{
    margin: 0vmax;
    display: block;
  }
}





  